.home {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100vh;
}

.homeleft {
  background-color: #edeef0;
  /* background-color: rgb(193, 189, 197); */
  /* background-image: linear-gradient(to bottom, #ff9933, #ffffff, #138808); */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.homeright {
  padding: 2vmax;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #ffffff;
}

.homeUser {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.homeUser > img {
  height: 3vmax;
  width: 3vmax;
  margin: 1vmax;
  border-radius: 100%;
  border: 3px solid rgb(255, 201, 201);
}

.homeUser:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .home {
    grid-template-columns: 2fr 1fr;
    display: flex;
    flex-direction: column-reverse;
  }

  .homeleft {
    /* padding: 0; */
    min-height: 90vh;
  }
  .homeright {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    height: 60vh;
  }
  hr {
    display: none;
  }
  .avname {
    font-size: 5% !important;
  }
  /* .homeUser {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  } */
  .profilerow {
    color: red !important;
    padding-right: 5px !important;
  }
}
